<html>
<head>
  <title>Walk and Play</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
    }
    #header {
      border-bottom: 1px black solid;
      margin: 0 0 0.5em 0;
    }
    #header a {
      margin: 0 1em 0 1em;
    }
    a, a:visited {
      text-decoration: none;
      color: blue; 
    }
    
    .player_info_box {
      padding: 1em;
      border: 1px black solid;
    }
  </style>
</head>
  {% block body %}{% endblock %}
</html>