{% extends "game_screen.html" %}
{% block contents %}
<body>
  <div>
    <div style="width: 64px; float: left">
      <img src="/a/player/{{ player.user.user_id }}/icon" width=64 height=64 />
    </div>
    <div style="float: right">
      <strong>{{ player.user.nickname }}</strong><br />
      Level: {{ player.level }}<br />
      Experience: {{ player.experience }}
    </div>
  </div>

  <div style="clear: both">
    Health: {{ player.current_health }} / {{ player.max_health }}<br />
    Strength: {{ player.strength }}<br />
    Defense: {{ player.defense }}<br />
    Reach: {{ player.reach_feet }}'<br />
    Miles traveled: {{ player.total_distance_traveled_miles }}<br/>
  </div>
  
</body>
{% endblock %}